version: '3.8'

services:
  model_api:
    build:
      context: .
      dockerfile: Dockerfile
    image: scb-fraud-model-api:latest
    container_name: scb-fraud-model-api
    depends_on:
      - fraud-db
      - mlflow
    ports:
      - "8000:8000"
    restart: unless-stopped
    environment:
      - PYTHONUNBUFFERED=1
      - FRAUD_DB_HOST=fraud-db
      - FRAUD_DB_PORT=5432
      - FRAUD_DB_NAME=frauddb
      - FRAUD_DB_USER=fraud
      - FRAUD_DB_PASSWORD=fraud123
      - MLFLOW_TRACKING_URI=http://mlflow:5000
      - MLFLOW_EXPERIMENT=fraud_detection_serving
      - MASTER_TABLE_LIMIT=0
      - BASELINE_SAMPLE_SIZE=5000
      - MODEL_IMPROVEMENT_DELTA=0.0

  fraud-db:
    image: postgres:13
    container_name: fraud-db
    restart: unless-stopped
    environment:
      - POSTGRES_DB=frauddb
      - POSTGRES_USER=fraud
      - POSTGRES_PASSWORD=fraud123
    ports:
      - "5432:5432"
    volumes:
      - fraud-db-data:/var/lib/postgresql/data

  mlflow:
    image: ghcr.io/mlflow/mlflow:latest
    container_name: mlflow-server
    restart: unless-stopped
    command: >
      mlflow server
        --host 0.0.0.0
        --port 5000
        --backend-store-uri sqlite:////mlflow/mlflow.db
        --default-artifact-root /mlruns
    environment:
      - MLFLOW_TRACKING_URI=http://mlflow:5000
    ports:
      - "5000:5000"
    volumes:
      - mlruns:/mlruns
      - mlflow-backend:/mlflow

volumes:
  fraud-db-data:
  mlruns:
  mlflow-backend: